.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 使用static/mock 使得mock的数据不会被提交到线上的仓库里
# 也不会被提交到本地的仓库里
static/mock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
